@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F6F8;
  color: #12131A;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #D7D9DE;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #C3C6CD;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
